.download
	height: 80vh
	background-color: var(--blue-lynch)

	@media (--medium)
		background-color: blue

	@media (--large)
		background-color: red

	&__title

	&__subtitle

	&__form

	&__button

	&__appendice
