.footer
	background: #fff

	&__list
		padding-top: 50px
		padding-bottom: 50px
	
	&__item
		width: 50%
		float: left
		display: inline-block
		text-align: center
		height: 75px

		@media (--tablet)
			width: 25%
			height: 100px

	&__image
		width: 100px

		@media (--tablet)
			width: 150px