.header
	background-color: var(--blue-firefly)
	height: var(--header-height)
	width: 100vw
	background-color: yellow

	@media (--medium)
		background-color: blue

	@media (--large)
		background-color: red

	&__logo
		height: 100px
		width: 100px
		background-color: red