.landingpage
	height: 80vh
	color: var(--silver)	
	background-color: var(--ebony)

	@media (--medium)
		background-color: blue

	@media (--large)
		background-color: red

	&__title

	&__subtitle

	&__footer
