.landingpage
	height: 80vh
	padding: 50px
	color: var(--silver)	
	background-color: var(--ebony)
	background-size: cover
	background-image: url('../img/background1.jpg')
	background-repeat: no-repeat

	@media (--medium)
		background-color: blue

	@media (--large)
		background-color: red

	&__title
		margin: 50px
		text-align: center

	&__subtitle
		text-align: center

	&__footer
