body{
  word-spacing: -1;
  section{
    max-width: 1300px;
    margin: 0 auto;
  }
  a{
    color: white;
    text-decoration: none;
  }
  input,textarea{
    font-family: Futura;
    border-radius: 0;
    outline: none;
    resize: none;
    background-color: #D8D8D8;
    color: #000;
  }
  ::-webkit-input-placeholder{
    color: #000;
  }
}