:root
	--blue-firefly: #0e1b2c
	--blue-pickled: #2c3b52
	--blue-lynch: #6A7892
	--gray-dove: #717171
	--gray-slate: #76859a
	--gray-pumice: #d7d9d8
	--black-bunker: #0e1215
	--silver: #c0c0c0
	--iron: #d8d8da