<!DOCTYPE html>
<html>
<head>
	<title>MeetFlash</title>
	<link rel="stylesheet" type="text/css" href="dist/css/app.css">
</head>
<body>
<script src="../dist/js/app.js"></script>
<header>
	<div class="header--logo">

	</div>


	<nav class="header__navbar__desktop">
		<ul class="header__navbar--list">
			<li class="active"><a href="#accueil">Accueil</a></li>
			<li><a href="#description">Description</a></li>
			<li class="CTA"><a href="#telechargement">Telechargement</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
	<nav class="header__navbar__mobile">
		<img class="menu__button--open" src="../dist/images/logos/burger.png" alt="">
		<ul class="header__navbar--list">
			<li><img class="menu__button--close" src="../dist/images/logos/cross.png" alt="X"></li>
			<li class="active"><a href="#acceuil">Accueil</a></li>
			<li><a href="#description">Description</a></li>
			<li><a href="#telechargement">Telechargement</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</nav>
</header>