<section id="contact" class="contact">
    <h3 class="contact__title">Contact</h3>
    <form class="contact__form" action="">
        <input class="contact__form__input--email" type="text" placeholder="E-mail">
        <textarea placeholder="Votre message..." class="contact__form__input--message" name="" id="" cols="30" rows="10"></textarea>
        <input class="contact__form__input--button" type="button" value="Envoyer">
    </form>
    <div>
        <p class="contact__text">  Nous restons bien sûr joignable par mail si vous souhaitez nous informer de vos ressentis et problèmes. Nous serons ravi de répondre dans les plus brefs délais.
            <br> <i>"Your feedback to make it greater."</i> </p>
    </div>

</section>