<section class="avantages">
    <div class="avantages__list">
        <div class="avantages__theme">
            <h3 class="avantages__theme--title">Sessions de chat personnalisées</h3>
            <div class="avantages__theme--image-description chat"></div>
            <p class="avantages__theme--description">Créez facilement des salons privés administrables </p>
        </div>
        <div class="avantages__theme">
            <h3 class="avantages__theme--title">Partagez vos exploits</h3>
            <div class="avantages__theme--image-description share"></div>
            <p class="avantages__theme--description">Partagez des screensshots, ou encore des vidéos, grâce a nos serveurs de discussion.
            </p>
        </div>
        <div class="avantages__theme">
            <h3 class="avantages__theme--title">Protocoles de sécurisation</h3>
            <div class="avantages__theme--image-description secure"></div>
            <p class="avantages__theme--description">N’ayez plus peur de perdre vos données, de vous faire hacker ou que quelqu’un puisse s’immiscer dans votre vie privée. Nous sécurisons de bout en bout vos échanges grâce à des protocoles de sécurisation de données. </p>
        </div>
        <div class="avantages__theme">
            <h3 class="avantages__theme--title">Regroupez votre communautée</h3>
            <div class="avantages__theme--image-description multi"></div>
            <p class="avantages__theme--description">Créez et rejoignez des serveurs privés en administrant vous mêmes les utilisateurs.
            </p>
        </div>
    </div>
</section>