<section id="telechargement" class="telechargement">
    <div class="telechargement__phones--container">
        <img src="../dist/images/desktop/iphone.png" alt="">
        <img src="../dist/images/desktop/android.png" alt="">
    </div>

            <div class="telechargement__container__images">
                <h3 class="telechargement__title">DEJA DISPONIBLE ET EN ILLIMITÉ !</h3>

                <img class="telechargement__image" src="../dist/images/Logos/google-play.png" alt="">
                <img class="telechargement__image" src="../dist/images/Logos/app-store.png" alt="">
            </div>

</section>