<section id="accueil" class="intro">
    <img src="../dist/images/Mobile/U.png" alt="" class="intro__logo">

    <div class="intro__container">
    <div class="intro__container--title">
         <h2>TOUS VOS SPEAK,</h2>
    </div>
    <div class="intro__container--title">
        <h2>UNE SEULE APP !</h2>
    </div>
    <div class="intro__container--logo_container">
        <img src="../dist/images/logos/lol.png" alt="">
        <img src="../dist/images/logos/origin.png" alt="">
        <img src="../dist/images/logos/battlenet.png" alt="">
        <img src="../dist/images/logos/steam.png" alt="">
    </div>
</div>
</section>