@import "vendors/reset.sss"

@import "global/variables.sss"
@import "global/mixins.sss"
@import "global/breakpoints.sss"
@import "global/layout.sss"
@import "global/colors.sss"
@import "global/fonts.sss"

@import "blocs/header.sss"
@import "blocs/landingpage.sss"
@import "blocs/description.sss"
@import "blocs/download.sss"
@import "blocs/contact.sss"
@import "blocs/footer.sss"