@import "vendors/reset.sss"

@import "global/variables.sss"
@import "global/mixins.sss"
@import "global/breakpoints.sss"
@import "global/layout.sss"
@import "global/colors.sss"
@import "global/fonts.sss"

@import "blocs/footer.sss"
@import "blocs/header.sss"